<div class="widget-bookdesk">
    <div id="bookdesc-app">
        <div class="bookdesk-con">
            <div class="book-desk" v-for="(booklist, ind) in booknamelist">
                <div class="bookshelf">
                    <div class="shelf">
                        <div class="row-1">
                            <div class="loc">
                                <div v-for="item in booklist">
                                    <a class="sample thumb5" v-bind:sample="item.simplename" v-bind:href="item.link"><img width="120px" v-bind:src="item.imgUrl" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
