.widget-tools {
  .tips {
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    font-size: 17px;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    font-family: Mydance;
    background-image: url('images/bg.png');
  }

  .tip-text {
    margin-left: 5px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
  }

  .tip-icon {
    height: 36px;
    width: 36px;
    background-image: url('images/speaker.png');
    background-size: 36px 36px;
    display: inline-block;
    margin-top: 2px;
  }
}
